* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

  /* --background-image: url("/w3images/photographer.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;---Float four columns side by side */
.column01 {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin-bottom: 70px;
    margin-left: 170px;
}
.column02 {
  float: right;
  width: 30%;
  padding: 0 10px;
  margin-bottom: 70px;
  margin-right: 170px;
}
.column03 {
  float: left;
  width: 30%;
  padding: 0 10px;
  margin-bottom: 70px;
  margin-left: 170px;
}
.column04 {
  float: right;
  width: 30%;
  padding: 0 10px;
  margin-bottom: 70px;
  margin-right: 170px;
}

  /* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}



  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

  /* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }
}

  /* Style the counter cards */
.card01 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f0eeee;
}
.card02 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f0eeee;
}
.card03 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f0eeee;
}
.card04 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f0eeee;
}
img {
  border: 5px solid #555;
}
