<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link href="css/navbar.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ul>
        <li><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a href="/events"><i class="fa fa-fw fa-gift"></i>Events</a></li>
        <li><a href="/contacts"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
        <li style="float:right"><a class="active" href="/login"><i class="fa fa-fw fa-user"></i><%= text01 %></a></li>     
        <li style="float:right"><a class="active1" ><%= header01 %></a></li> 
    </ul>
    
    
</head>
<body>
    <div>
        <div>
        <div class="bg-image"></div>
          <img src="/images/pajama.jpg" alt="Norway" style="width:100%" >
          <div class="bg-text">
            <h1 style="font-size:50px"><b>Náttfatardagur</b></h1>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div>
          <img src="/images/lan.jpg" alt="Norway" style="width:100%" >
          <div class="container white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div>
          <img src="/images/game.jpg" alt="Norway" style="width:100%" >
          <div class="container white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        </div>
    

    <div style="padding:20px;margin-top:30px;">
        <h1><%= header02 %></h1>
    </div>
	
</body>
</html>