<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/navbar.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ul>
        <li><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a href="/events"><i class="fa fa-fw fa-gift"></i>Events</a></li>
        <li><a href="/contacts"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
        <li style="float:right"><a class="active" href="/login"><i class="fa fa-fw fa-user"></i><%= text01 %></a></li>     
        <li style="float:right"><a class="active1" ><%= header01 %></a></li> 
    </ul>
    
    
</head>
<body>
    <div>
        <div>
        <div class="bg-image">
          <img src="/images/flowers3.png" >
        </div>
          <div class="bg-text">
            <h1 style="font-size:50px"><b><%= header02 %> </b></h1>
            <p>Staður til að slaka á.</p>
          </div>
        </div>
</body>
</html>