li {
    display: inline;
};

li {
    float: left;
}


a {
    font-size: 110%;
    display: block;
    background-color: rgb(196, 44, 44);
    text-decoration: none;
    
}


ul {
    background-color: rgb(196, 44, 44);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(196, 44, 44);
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    
    
    
}


li {
    float: left;
}

li a {
    display: block;
    color: rgb(212, 211, 211);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active1 {
    background-color: rgb(196, 44, 44);
}

.active {
    background-color: #0483aa;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

